html {
    height: 100%;
}

body {
    height: 100%;
}

.App {
    text-align: center;
    font-size: 30px;
}

.App .form {
    margin: 20px;
}

.App .form .markdownText {
    height: 300px;
    resize: none;
}

.App .preview {
    margin: 20px;
}

.App .preview .previewText {
    height: 300px;
    resize: none;
}